<!DOCTYPE html lang="{{- $.Site.Language.Lang -}}">
{{ "<!--[if lt IE 7 ]>" | safeHTML -}}<html class="ie6">{{- "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7 ]>" | safeHTML -}}<html class="ie7">{{- "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8 ]>" | safeHTML -}}<html class="ie8">{{- "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 9 ]>" | safeHTML -}}<html class="ie9">{{- "<![endif]-->" | safeHTML }}
{{ "<!--[if (gt IE 9)|!(IE)]><!-->" | safeHTML -}}<html>{{- "<!--<![endif]-->" | safeHTML }}
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}" />
    <meta name="keywords" content="{{ delimit .Keywords ", " }}"/>

    <!-- Facebook sharing icon -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ i18n "site_name" }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.sharing_image }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#69001e">
    <meta name="msapplication-TileColor" content="#69001e">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google webmaster tools -->
    <!-- schilderschoolhenniejansen.nl -->
    <meta name="google-site-verification" content="iaJ2PMZ264MYhHv6t3dMHZUD-uqhvxV3lyfdrQQkthc" />
    <!-- schildercursussittardgeleen.nl -->
    <meta name="google-site-verification" content="x-hcHgjQ8ClI2W5gzIWCDZbSmuzEBvkWv5NcgsOYk3Y" />
    
    <!-- See: http://support.google.com/webmasters/bin/answer.py?hl=nl&answer=79812 -->
    <meta name="robots" content="NOODP">
    
    <!-- Mobile viewport optimisation -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1.0" -->
    <meta name="viewport" content="width=device-width, width=930" />
    
    <!-- Always force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    {{- $a := resources.Get "css/base.css" }}
    {{- $b := resources.Get "css/typography.css"  }}
    {{- $c := resources.Get "css/fixed.css"  }}
    {{- $d := resources.Get "css/grid-960-1col.css"  }}
    {{- $e := resources.Get "css/forms.css"  }}
    {{- $f := resources.Get "css/print.css"  }}
    {{- $g := resources.Get "css/sticky.css"  }}
    {{- $h := resources.Get "js/vendor/jquery-qtip/jquery.qtip.css"  }}
    {{- $i := resources.Get "js/vendor/fancyapps-fancyBox-2.1.3/source/jquery.fancybox.css"  }}
    {{- $combined := slice $a $b $c $d $e $f $g $h $i | resources.Concat "css/style.css" }}
    {{- $combinedAndMinified := $combined | resources.Minify }}

    <link rel="stylesheet" type="text/css" href="{{ $combinedAndMinified.RelPermalink }}" />
    
    {{ "<!--[if lt IE 7 ]>" | safeHTML }}
        <link rel="stylesheet" type="text/css" href="/css/iehacks.min.css" />
    {{ "<![endif]-->" | safeHTML }}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37258204-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];  s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="{{ if .IsHome }}homepage{{ end }}">
    <div id="bloem"></div>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div id="main">
                <div class="ym-grid">
                    <div class="ym-g960-body ym-gl">
                        <div class="ym-gbox">
                            <div id="taal-selectie">
                                {{- range $i, $value := .Page.AllTranslations -}}
                                    {{- $translation := $value -}}
                                    {{- range $.Site.Languages -}}
                                        {{- if eq $translation.Lang .Lang -}}
                                            <a href="{{ $translation.URL}}" {{ if eq $.Page.Lang .Lang}} class="active"{{ end }}>{{ .LanguageName }}</a>    
                                            {{- if (eq $i 0) -}}&nbsp;|&nbsp;{{- end -}}
                                        {{- end -}}
                                    {{- end -}}
                                {{- end -}}
                            </div>
                            <h1><a href="/">{{ i18n "site_name" }}</a></h1>
                            {{ block "main" . }}{{ end }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <div class="ym-grid">
                    <div class="ym-gbox">
                        <div class="piped-list">
                            <ul>
                                <li><a href="#links" class="fancybox" data-id="links">{{ i18n "footer_links" }}</a></li>
                                <li><a href="#route" class="fancybox" data-id="route">{{ i18n "footer_adres" }}</a></li>
                                <li class="last"><a href="#contact" class="fancybox" data-id="contact">{{ i18n "footer_contact" }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none">
        <div id="links">
            {{ i18n "links_intro" | safeHTML }}
            <p><a href="http://www.artindex.nl/limburg/default.asp?id=6&amp;num=0879902263011050003070077009850930501351" target="_blank"></a><a href="http://www.artindex.nl/limburg/default.asp?id=6&amp;num=0879902263011050003070077009850930501351" target="_blank">{{ i18n "links_centrum_link" }}<br /></a>{{ i18n "links_centrum_description" }}</p>
        </div>

        <div id="route">
            {{ i18n "route_intro" | safeHTML }}
            <div id="map-container"></div>
        </div>

        <div id="contact">
                {{ i18n "route_intro" | safeHTML }}
            <hr/>

            <form class="ym-form ym-columnar" name="contact" method="POST" data-netlify="true" netlify-honeypot="firstname">
                <h2>{{ i18n "form_intro" }}</h2>
                <div class="ym-fbox-text">
                    <label for="naam">{{ i18n "form_name" }}</label>
                    <input type="text" name="naam" id="naam" class="required"/>
                </div>
                <div class="ym-fbox-text">
                    <label for="emailadres">{{ i18n "form_email" }}</label>
                    <input type="text" name="emailadres" id="emailadres" class="required"/>
                </div>
                <div class="ym-fbox-text">
                    <label for="telefoonnummer">{{ i18n "form_tel" }}</label>
                    <input type="text" name="telefoonnummer" id="telefoonnummer" class="required"/>
                </div>
                <div class="ym-fbox-text" style="position: absolute; left: -1000px">
                    <label>Address:</label>
                    <input type="text" name="firstname" id="firstname" tabindex="-1"/>
                </div>
                <div class="ym-fbox-text">
                    <label for="bericht">{{ i18n "form_message" }}</label>
                    <textarea name="bericht" id="bericht"></textarea>
                </div>
                <div class="ym-fbox-button">
                    <input type="submit" class="ym-button" value="{{ i18n "form_submit" }}" id="submit" name="submit" />
                </div>
            </form>
            <div id="formSending" style="display: none">
               {{ i18n "form_sending" | safeHTML }}
            </div>
            <div id="formSuccess" style="display: none">
               {{ i18n "form_thanks" | safeHTML }}
            </div>
        </div>
    </div>

    {{- $a := resources.Get "js/vendor/jquery.min.1.8.3.js" }}
    {{- $b := resources.Get "js/vendor/fancyapps-fancyBox-2.1.3/source/jquery.fancybox.pack.js"  }}
    {{- $c := resources.Get "js/vendor/jquery-qtip/jquery.qtip.js"  }}
    {{- $d := resources.Get "js/vendor/jquery-qtip/jquery.qtip.defaults.js"  }}
    {{- $e := resources.Get "js/vendor/jquery-validation/jquery.isaac.validate.js"  }}
    {{- $f := resources.Get "js/vendor/jquery-validation/jquery.validate.defaults.tooltip.js"  }}
    {{- $g := resources.Get "js/vendor/jquery-validation/messages_nl.js"  }}
    {{- $h := resources.Get "js/bootstrap.js"  }}
    {{- $combined := slice $a $b $c $d $e $f $g $h | resources.Concat "js/script.js" }}
    {{- $combinedAndMinified := $combined | resources.Minify }}

    <script type="text/javascript" src="{{ $combinedAndMinified.RelPermalink }}"></script>
</body>
</html>
