
{{ define "main" }}
    {{ partial "main-menu.html" (dict "page" . "menuClass" "tab-menu") }}

    <div id="tab-content">
        {{ partial "sub-menu.html" . }}

        <div id="sub-menu-content">
            {{ .Content }}
        </div>
    </div>
{{ end }}