{{ define "main" }}
    {{ partial "main-menu.html" (dict "page" . "menuClass" "tab-menu") }}

    <div id="tab-content" class="has-submenu">
        {{ partial "sub-menu.html" . }}

        <div id="sub-menu-content">
            {{ .Content }}

            {{ $posts := slice }}
            {{ range readDir "/content/school/specials" }}
                {{ $path := path.Join "/school/specials/" .Name }}
                {{ if in $path "-"}}
                    {{ $posts = $posts | append ($.Site.GetPage $path) }}
                {{ end }}
            {{ end }}

            {{ range $posts.ByDate.Reverse }}
                <h2>{{ .Title }}</h2>
                {{ .Content }}
                {{ partial "gallery.html" . }}
            {{ end }}

        </div>
    </div>
{{ end }}