@media screen {

	/* dotCMS stuff */
	.dot_parseIcon {
		display: none !important; 
	}
	
	
	/* force vertical scrollbar */
	body {
		overflow-y: scroll;
		background: #8b022a url(img/bg-canvas.png) top left repeat;
	}

	/* Layout Module Configuration & fallback for media queries */
	.ym-wrapper {
		width: 960px;
		margin: 0 auto;
		position: relative;
	}

	/********* PIPED-LIST *************/
	.piped-list ul {
		right: 0;
	}
	.piped-list li {
		display: inline-block;
		list-style: none;
		border-right: 1px solid white;
		padding: 0 22px;
	}
	.piped-list a {
		font: 130% 'WinterthurCondensedRegular', Arial, sans-serif;
		color: white;
		display: block;
		padding: 3px;
		line-height: 15px;
	}
	.piped-list a:hover {
		text-decoration: underline;
	}
	.piped-list li.last {
		border: none;
	}

	
	/********* BASIC STUFF *************/
	h1 {
		width: 100%;
		text-align: center;
		margin-top: 92px; /* for no homepage pages*/
	}
	.homepage h1 {
		margin-top: 161px;  /* for the homepage */
	}
	h1 a:hover,
	h1 a {
		color: white;
	}
	h1 a:hover {
		text-decoration: none;
	}
	#bloem {
		position: fixed;
		left: 0;
		bottom: 0;
		background: transparent url(img/bg-bloem-80.jpg) left bottom no-repeat;
		height: 100%;
		width: 100%;
	}
		
	#footer .piped-list ul {
		float: right;
		right: 0;
		margin: 20px 39px 0 0;
	}
	
	#taal-selectie {
		position: absolute;
		top: 10px;
		right: 74px;
		color: white;
	}
	#footer .piped-list a,
	#taal-selectie a {
		color: white;
		text-decoration: none;
	}
	#footer .piped-list a:hover,
	#taal-selectie a:hover {
		background-color: white;
		color: #8b022a
	}
	#taal-selectie a.active {
		text-decoration: underline;
	}
	
	/********* MAIN-MENU HOMEPAGE *************/
	#main-menu {
		margin: 39px 0 0 51px;
		width: 100%;
		height: 236px;
	}
	#main-menu li {
		position: relative; /* needed for absolute positioning the ornament */
		display:block;
		float: left;
		list-style: none;
		height: 236px;
		width: 240px;
		margin: 0 23px;
	}
	#main-menu a {
		display: table-cell;
	    height: inherit;
	    vertical-align: middle;
		width: inherit;
		line-height: 236px;
		margin: 0;
		font: 220% 'WinterthurCondensedRegular', Arial, sans-serif;
		color: white;
		border: 2px solid white;
		text-align: center;
		background-color: transparent; 
		background-position: top left;
		background-repeat: no-repeat;
		
		/* border radius*/
		-webkit-border-radius: 20px;
		border-radius: 20px;
		
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
                box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.55);
		
		/* text shadow */
		text-shadow: 2px 2px 6px #000000;
	}
	#main-menu a:hover {
		font-size: 290%;
		text-decoration: none;
	}	
	#main-menu a:hover:after {
		content: "";
		display: block;
		position: absolute;
	}
	#main-menu .school a:hover:after {
		width: 105px;
		height: 112px;
		background: transparent url(img/sprite.png) left top no-repeat;
		top: -44px;
		left: -61px;
	}
	#main-menu .atelier a:hover:after {
		width: 153px;
		height: 100px;
		background: transparent url(img/sprite.png) -150px top no-repeat;
		top: -49px;
		left: -41px;
	}
	#main-menu .galerie a:hover:after {
		width: 123px;
		height: 111px;
		background: transparent url(img/sprite.png) -350px top no-repeat;
		top: -35px;
		right: -57px;
	}


	/********* MAIN-COPY HOMEPAGE *************/
	#main-copy {
		color: white;
		margin: 51px 0 0 375px;
	}
	#main-copy p {
		line-height: 1.4em;
		padding-right: 92px;
	}
	#main-copy a {
		color: white;
		text-decoration: underline;
	}
	#main-copy a:hover {
		background-color: white;
		color: #8b022a;
		text-decoration: none;
	}


	/********* POPUPS *************/
	#route h2,
	#contact h2 {
		font-weight: bold;
		margin-bottom: 24px;
	}
	#contact textarea {
		min-height: 75px;
	}
	#contact hr {
		margin: 20px 0; 
	}
	#contact .ym-button {
		margin: 20px 0 0 39%;
	}
	#route iframe {
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
                box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.55);
	}
	#route iframe,
	#route h2,
	#route p {
		margin-left: 10px;
	}
	#route .grotere-kaart {
		float: right;
		margin: -32px 10px 32px 0;
	}
	
	/********* TAB-MENU *************/
	
	#tab-menu {
		margin: 39px 0 0 51px;
		width: 100%;
		height: 61px;
	}
	#tab-menu li {
		position: relative; /* needed for absolute positioning the ornament */
		display:block;
		float: left;
		list-style: none;
		height: 61px;
		width: 240px;
		margin: 0 23px;
	}
	#tab-menu a {
		position: relative;
		display: table-cell;
	    height: inherit;
	    vertical-align: middle;
		width: inherit;
		line-height: 61px;
		margin: 0;
		font: 220% 'WinterthurCondensedRegular', Arial, sans-serif;
		color: white;
		border: 2px solid white;
		border-bottom: none;
		text-align: center;
		background-color: transparent; 
		background-position: top left;
		background-repeat: no-repeat;
		z-index: 1;
		
		/* border radius*/
		-webkit-border-radius: 20px 20px 0 0;
		        border-radius: 20px 20px 0 0;
		
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
		
		/* text shadow */
		text-shadow: 2px 2px 6px #000000;
	}
	#tab-menu a:hover {
		text-decoration: none;
	}	
	#tab-menu .active a {
		background-color: white;
		color: #8b022a;
		background-image: none !important;
		z-index: 3;
		text-shadow: none;
		
		/* drop shadow */
		-webkit-box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.15);
		        box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.15);
	}
	#tab-menu .active a:hover {
		font-size: 220%;
	}
	#tab-menu a:hover:after,
	#tab-menu .active a:after {
		content: "";
		display: block;
		position: absolute;
	}
	#tab-menu .school a:hover:after,
	#tab-menu .school.active a:after {
		width: 105px;
		height: 112px;
		background: transparent url(img/sprite.png) left top no-repeat;
		top: -46px;
		left: -63px;
	}
	#tab-menu .atelier a:hover:after,
	#tab-menu .atelier.active a:after {
		width: 153px;
		height: 100px;
		background: transparent url(img/sprite.png) -150px top no-repeat;
		top: -51px;
		left: -43px;
	}
	#tab-menu .galerie a:hover:after,
	#tab-menu .galerie.active a:after {
		width: 123px;
		height: 111px;
		background: transparent url(img/sprite.png) -350px top no-repeat;
		top: -37px;
		right: -59px;
	}
	
	/********* TAB-CONTENT *************/
	#tab-content {
		position: relative; 
		background-color: white;
		margin: 0 74px 0 74px;
		padding: 0 48px 48px 48px;
		z-index: 2;
		
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
	             box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
		        
		/* border radius*/
		-webkit-border-radius: 0 0 20px 20px;
		        border-radius: 0 0 20px 20px
	}
	#tab-content #sub-menu.piped-list ul {
		padding: 50px 0 21px 0;
		text-align: center;
	}
	#tab-content #sub-menu.piped-list ul li {
		border-color: #333;
		padding: 0 28px;
	}
	#tab-content #sub-menu.piped-list ul a {
		font-size: 150%;
		color: #333;
		font-weight: bold;
	}
	#tab-content #sub-menu.piped-list ul .active a,
	#tab-content #sub-menu.piped-list ul a:hover {
		text-decoration: none;
		color: #8b022a;
	}
	#tab-content #sub-menu-content {
		padding-top: 33px;
		-webkit-box-shadow: 0px -10px 15px -13px rgba(0, 0, 0, 0.55);
		        box-shadow: 0px -10px 15px -13px rgba(0, 0, 0, 0.55);
	}

	/********* DEFAULT CONTENT STYLES  *************/
	#sub-menu-content img {
		float: left;
		margin: 0 20px 20px 0;
	}

	#sub-menu-content ul {
		list-style: none;
	    padding:0;
	    margin:0 0 20px 0;
	} 
	#sub-menu-content li { 
	    padding-left: 2em; 
	    text-indent: -.7em;
	}
	
	#sub-menu-content li:before {
	    content: "o ";
	    color: #8b022a;
	}
	
	/********* VIDEO IN ALBUM *************/

	.pinterest-album-video {
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden;
		margin-bottom: 11px;
	}

	.pinterest-album-video iframe {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		border:0;
	}

	/********* PINTEREST ALBUM *************/
	.pinterest-album ul {
		display: inline-block;
		width: 232px;
		margin: 0 10px 0 0 !important;
		vertical-align: top;
		font-size: 0%; /* to ignore any whitespace chars between the li's */
	}
	.pinterest-album ul:last-child  {
		margin-right: 0 !important;
	}
	.pinterest-album li {
		display: inline-block;
		list-style: none;
		padding: 0 !important;
		margin: 0 0 10px 0 !important;
		text-indent: 0 !important;
		font-size: 100%;
	}
	.pinterest-album li:before {
		content: "" !important;
	}
	.pinterest-album img {
		float: none  !important;
		margin: 0;
		width: 232px;
		margin: 0 !important;
		border: none;
	}
	.pinterest-album a:hover img {
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
                box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.55);
	}
	
	
}/* WARNING: do not remove this @media ending bracket */
