@media screen {

	/**
	* @section general width settings for formular elements in modern browsers
	*          switching to CSS3 box modell "border-box" for perfect flexible forms
	*
	* Styling for: <labels>, <input>, <textarea> and <select>
	*
	*/

	.ym-form input,
	.ym-form input,
	.ym-form textarea,
	.ym-form select {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		width:54%;
		max-width: 54%;
	}

	.ym-columnar label {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ym-columnar .ym-fbox-select select,
	.ym-columnar .ym-fbox-text input,
	.ym-columnar .ym-fbox-text textarea { width:54%; }
}

@media screen, projection {

	/**
	* @section general form styling
	*
	* Styling for: <form>, <fieldset>, <legend>, <label> and rows (class="ym-fbox-[xxx]")
	*
	*/
	.ym-form {
		
	}

	.ym-form fieldset {
		position:static;
		background:transparent;
		margin: 0.75em 0 0.75em 0;
		padding: 0 0.5em;
	}

	.ym-form legend {
		background:transparent;
		color:#000;
		font-size:1.2em;
		line-height:1.25em;
		font-weight:bold;
		padding:0 0.5em;
	}

	.ym-form label {
		color:#666;
		line-height: 1.5em;
	}

	.ym-label {
		color: #666;
		padding-top: 0.25em;
	}

	.ym-form .ym-form div.ym-fbox-check:focus + label {
		color:#000;
	}

	.ym-columnar.ym-form label {
		width: 40%;
	}

	/* styling containing DIV elements */
	.ym-form div.ym-fbox-text,
	.ym-form div.ym-fbox-select,
	.ym-form div.ym-fbox-check,
	.ym-form div.ym-fbox-button {
		padding: 0.3em 0;
		margin-bottom: 0.5em;
	}

	.ym-form div.ym-fbox-button {
		padding:0 1em 1.5em 1em;
		margin: 0;
	}

	.ym-form .ym-gbox {
		padding: 0 0.5em;
		margin-right: 0;
	}

	.ym-form h6 {
		color: #000;
		margin: 1em 0 0 1em;
	}

	/**
	* @section styling form elements
	*
	* Styling for: Input, Textarea, Select ...
	*
	*/

	/* styling standard form elements with 'almost' equal flexible width */
	.ym-form .ym-fbox-text input,
	.ym-form .ym-fbox-text textarea {
		line-height: 1em;
		padding: 5px 3px;
		margin-top: -2px;
	}

	.ym-form .ym-fbox-select select {
		line-height: 1em;
		padding: 5px 3px;
		margin-top: -2px;
	}

	/* proportional fonts for all form elements */
	.ym-form input,
	.ym-form textarea,
	.ym-form select,
	.ym-form optgroup {
		font-family:Arial, Helvetica, sans-serif;
	}

	/* put browser default value back */
	.ym-form textarea{
		cursor: inherit;
	}

	.ym-form optgroup {
		font-style:normal;
		font-weight:bold;
	}

	.ym-form .ym-fbox-text input,
	.ym-form .ym-fbox-text textarea,
	.ym-form .ym-fbox-select select {
		border:1px solid #8b022a;
	}

	/* General form styling */
	.ym-form .ym-message {
		color:#666;
		margin-bottom:0.5em;
	}

	/* Highlight mandatory fields */
	.ym-form sup {
		color:#800;
		font-weight:bold;
	}

	/* form validation highlight colors */
	.ym-form input:valid,
	.ym-form textarea:valid { background-color: #fff; }
	.ym-form input:invalid,
	.ym-form textarea:invalid { background-color: #fdd; }

	.ym-form input[type=password].error,
	.ym-form input[type=text].error { border: 1px solid red; }

	em.error{
		color: red;
		font-size: 11px;
		padding: 0 0 0 10px;
	}

	/**
	* @section error messages
	*
	*/

	.ym-form .ym-error label {
		color:#800;
		font-weight:normal;
	}

	.ym-form .ym-error input,
	.ym-form .ym-error select,
	.ym-form .ym-error textarea {
		border: 1px #800 solid;
	}

	.ym-form .ym-error input:hover,
	.ym-form .ym-error input:focus,
	.ym-form .ym-error select:hover,
	.ym-form .ym-error select:focus,
	.ym-form .ym-error textarea:hover,
	.ym-form .ym-error textarea:focus {
		border: 1px #800 solid !important;
	}

	.ym-form .ym-error .ym-message {
		color:#800;
	}

	/* :hover and :focus status on form fields */
	.ym-form div.ym-fbox-text input:focus,
	.ym-form div select:focus,
	.ym-form div textarea:focus,
	.ym-form div.ym-fbox-text input:hover,
	.ym-form div select:hover,
	.ym-form div textarea:hover,
	.ym-form div.ym-fbox-text input:active,
	.ym-form div select:active,
	.ym-form div textarea:active {
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.55);
		/* For IE 8 */
		OFFLINE_-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=0, Color='#000000')";
		/* For IE 5.5 - 7 */
		OFFLINE_filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=0, Color='#000000');
	}

	/**
	* @section Buttons
	*
	* inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
	*/

	.ym-button,
	.ym-form button,
	.ym-form input[type="button"],
	.ym-form input[type="reset"],
	.ym-form input[type="submit"] {
		display: inline-block;
		white-space: nowrap;
		background-color: #8b022a;
		background-image: -webkit-linear-gradient(top, #8a022a, #700222);
		background-image: -moz-linear-gradient(top, #8a022a, #700222);
		background-image: -ms-linear-gradient(top, #8a022a, #700222);
		background-image: -o-linear-gradient(top, #8a022a, #700222);
		background-image: linear-gradient(top, #8a022a, #700222);
		border: 2px solid white;
		color: white !important;
		cursor: pointer;
		padding: 6px 67px;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
		/* border radius*/
		-webkit-border-radius: 10px;
		border-radius: 10px;
		font: 175% 'WinterthurCondensedRegular', Arial, sans-serif;
	}

	.ym-form button:hover,
	.ym-form input[type="button"]:hover,
	.ym-form input[type="reset"]:hover,
	.ym-form input[type="submit"]:hover,
	.ym-button:hover {
		/* drop shadow */
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.55);
		/* For IE 8 */
		OFFLINE_-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=0, Color='#000000')";
		/* For IE 5.5 - 7 */
		OFFLINE_filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=0, Color='#000000');
	}

	.ym-form button:active,
	.ym-form input[type="button"]:active,
	.ym-form input[type="reset"]:active,
	.ym-form input[type="submit"]:active,
	.ym-button:active {
		background-color: #8b022a;
		background-image: -webkit-linear-gradient(top, #700222, #8a022a);
		background-image: -moz-linear-gradient(top, #700222, #8a022a);
		background-image: -ms-linear-gradient(top, #700222, #8a022a);
		background-image: -o-linear-gradient(top, #700222, #8a022a);
		background-image: linear-gradient(top, #700222, #8a022a);
	}

	.ym-form button:focus,
	.ym-form input[type="button"]:focus,
	.ym-form input[type="reset"]:focus,
	.ym-form input[type="submit"]:focus,
	.ym-button:focus {
		
	}
	/* removes ipad default rounded corners http://stackoverflow.com/questions/5263260/stop-safari-mobile-from-giving-input-buttons-rounded-corners */
		input[type=image],
		input[type=submit] {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}

	/* pseudo elements don't work on input */
	.ym-form button:before,
	.ym-button:before {
		background: #ccc;
		background: rgba(0,0,0,.1);
		float: left;
		width: 1em;
		text-align: center;
		font-size: 1.5em;
		margin: 0 1em 0 -1em;
		padding: 0 .2em;
		pointer-events: none;
	}

	.ym-add:before { content: "\271A"; }
	.ym-delete:before { content: "\2718"; }
	.ym-edit:before { content: "\270E"; }
	.ym-email:before { content: "\2709"; }
	.ym-like:before { content: "\2764"; }
	.ym-next:before { content: "\279C"; }
	.ym-play:before { content: "\25B6"; }
	.ym-save:before { content: "\2714"; }
	.ym-spark:before { content: "\2737"; }
	.ym-star:before { content: "\2605"; }

	/* removes extra inner spacing in Firefox */
	.ym-form button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	/* If line-height can't be modified, then fix Firefox spacing with padding */
	.ym-form input[type=button]::-moz-focus-inner,
	.ym-form input[type=reset]::-moz-focus-inner,
	.ym-form input[type=submit]::-moz-focus-inner {
		padding: .4em;
	}

	/* The disabled styles */
	.ym-form button[disabled],
	.ym-form button[disabled]:hover,
	.ym-form input[type=button][disabled],
	.ym-form input[type=button][disabled]:hover,
	.ym-form input[type=reset][disabled],
	.ym-form input[type=reset][disabled]:hover,
	.ym-form input[type=submit][disabled],
	.ym-form input[type=submit][disabled]:hover,
	.ym-button.ym-disabled,
	.ym-button.ym-disabled:hover {
		background: #eee;
		color: #aaa !important;
		border-color: #aaa;
		cursor: default;
		position: static;
	}

	/* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
	* html .ym-button,
	* html .ym-form button {
		display: inline-block;
		white-space: nowrap;
		background-color: #ccc;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
		border: 1px solid #777;
		color: #333 !important;
		cursor: pointer;
		font: normal 1em/2em Arial, Helvetica;
		margin: 1.5em 0.75em 0 0;
		padding: 0 1.5em;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
		border-radius: none;
	}

	* html .ym-form button:focus,
	* html .ym-button:focus {
		outline: 0;
		background: #fafafa;
	}

	* html .ym-form button:hover,
	* html .ym-button:hover {
		background-color: #ddd;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
	}

	* html .ym-form button:active,
	* html .ym-button:active {
		background-color: #bbb;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
	}

	* html .ym-button.ym-disabled,
	* html .ym-button.ym-disabled:hover {
		background: #eee;
		color: #aaa !important;
		border-color: #aaa;
		cursor: default;
		position: static;
	}

	.ym-fbox-text.hidden {
		display: none;
	}
}