@media all {

	.ym-hlist {
		/* containing floats in IE */
		width:100%;
		overflow:hidden;
		/* Bugfix:IE - collapsing horizontal margins */
		position:relative;
		/* Repeat the main color from the image */
		line-height:1em;
		background: #222;
	}

	.ym-hlist ul {
		margin:0;
		padding: 0.5em 1.5em;
		/* Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
	}

	.ym-hlist ul li {
		/* Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
		font-size:1.0em;
		line-height:1em;
		list-style-type:none;
		margin: 0 .25em 0 0;
		padding:0;
	}

	.ym-hlist ul li a,
	.ym-hlist ul li strong {
		background:transparent;
		color:#aaa;
		display:block;
		font-size:1em;
		line-height: 2em;
		padding: 0 0.5em;
		font-weight:normal;
		text-decoration:none;
		width:auto;
	}

	.ym-hlist ul li a:focus,
	.ym-hlist ul li a:hover,
	.ym-hlist ul li a:active  {
		color: #ccc;
		background:#666;
		text-decoration:none;
		outline: 0 none;
	}

	.ym-hlist ul li.active {
		/*  Repeat the main color from the image */
		background:#666;
		color: #fff;
	}

	.ym-hlist ul li.active strong,
	.ym-hlist ul li.active a:focus,
	.ym-hlist ul li.active a:hover,
	.ym-hlist ul li.active a:active {
		background:transparent;
		color:#fff;
		text-decoration:none;
	}


	/* search form -------------------------------------- */
	.ym-searchform {
		float:right;
		display: inline;
		line-height: 2em;
		padding: 0.5em 1.5em;
	}

	.ym-searchform .ym-searchfield {
		background: #fff;
		line-height: 1em;
		padding: 0.25em;
		width: 12em;
		border: solid 1px #888;
		outline: none;
	}

	.ym-searchform .ym-searchbutton {
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		line-height: 1.3571em;
		padding: 0.25em;
		border: solid 1px transparent;
		background: #5f5f5f;
	}
}/* WARNING: do not remove this @media ending bracket */