@media all {

	/**
	* Debugging:When you see a green background, IE is getting this stylesheet
	* (de) Fehlersuche:Hintergrund leuchtet grün, wenn das Stylesheet korrekt geladen wurde
	*
	* @debug
	* @app-yaml-default disabled
	*/

	/* body { background:#0f0; background-image:none; }	 */

	/**
	* Correct inline positioning for unknown HTML5 elements in IE 6 & 7
	*
	* @workaround
	* @affected  IE6, IE7
	* @css-for   IE6, IE7
	* @valid     no
	*/

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* No need to force scrollbars in older IE's - it even makes problems in IE6 when set
	*
	* @workaround
	* @affected  IE6, IE7
	* @css-for   IE6, IE7
	* @valid     no
	*/

	body { o\verflow:visible; }

	/**
	* HTML5 - default media element styles
	*/

	article,aside,details,figcaption,figure,
	footer,header,hgroup,nav,section {
		zoom:1;
	}

	audio,
	canvas,
	video {
		*display: inline;
		*zoom: 1;
	}

	/**
	* enable bicubic interpolation of images on scaling
	*/
	img {
		-ms-interpolation-mode: bicubic;
		zoom: 1;
	}

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Fixes IE5.x and IE6 overflow behavior of textarea and input elements elements
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6
	* @valid     no
	*/

	* html iframe,
	* html frame { overflow:auto; }
	* html input,
	* html frameset { overflow:hidden; }
	* html textarea { overflow:scroll; overflow-x:hidden; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Stability fixes with 'position:relative'
	*
	* Essential for correct scaling in IE7 (body). IE5 must get static positioned body instead.
	* Helpful to fix several possible problems in older IE versions (#main).
	*
	* @bugfix
	* @affected	 IE 5.x/Win, IE6, IE7
	* @css-for	 IE 5.x/Win, IE6, IE7
	* @valid		 yes
	*/

	body, #main { position:relative; }
	* html body { position:static; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Clearfix adjustents for containing floats in IE
	*
	* @workaround
	* @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     yes
	*/

	.ym-clearfix { zoom:1; }	/* hasLayout aktivieren */

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Bugfix for partially displayed column separators
	*
	* @bugfix
	* @affected	 IE 5.x/Win, IE6
	* @css-for	 IE 5.x/Win, IE6
	* @valid		 yes
	*/

	* html .ym-col1,
	* html .ym-col2,
	* html .ym-col3 { position:relative; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Preventing several css bugs by forcing "hasLayout"
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     no
	*/

	body { height:1%; }
	.ym-wrapper, .ym-wbox, #header, #nav, #main, #footer { zoom:1; }	/* IE6 & IE7	*/
	* html .ym-wrapper, * html .ym-wbox { height:1%; hei\ght:auto; }	/* IE 5.x & IE6 | IE6 only */
	* html #header, * html #nav, * html #main, * html #footer { width:100%; wid\th:auto; }	/* IE 5.x & IE6 | IE6 only */

	/* trigger hasLayout to force containing content */
	.ym-gbox, .ym-gbox-left, .ym-gbox-right { height:1%; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Disappearing List-Background Bug
	* @see http://www.positioniseverything.net/explorer/ie-listbug.html
	*
	* @bugfix
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6
	* @valid     yes
	*/

	* html ul, * html ol, * html dl { position:relative; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* List-Numbering Bug
	*
	* @bugfix
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     yes
	*/

	body ol li { display:list-item; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Browser-based image scaling (not)
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6
	* @valid     yes
	*/

	* html .flexible {
		zoom: 1;
	}

	/**
	* Form related bugfixes
	*
	* @bugfix
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     no
	*/

	button, input { *overflow: visible; }
	table button, table input { *overflow: auto; }

	fieldset, legend { position:relative; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Global adjustments/fixes for YAML's form construction kit
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     no
	*/

	.ym-form,
	.ym-form div,
	.ym-form div * { zoom:1; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Workaround for 'collapsing margin at #col3' when using CSS-property clear
	*		 Left margin of #col3 collapses when using clear:both in 1-3-2 (or 2-3-1) layout and right column is the
	*		 longest and left column is the shortest one. For IE6 and IE7 a special workaround was developed
	*		 in YAML.
	*
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6, IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     no
	*/

	html .ym-ie-clearing {
		/* Only a small help for debugging */
		position:static;

		/* Make container visible in IE */
		display:block;

		/* No fix possible in IE5.x, normal clearing used instead */
		\clear:both;

		/* forcing clearing-like behavior with a simple oversized container in IE6 & IE7*/
		width:100%;
		line-height: 0;
		font-size:0px;
		margin:-2px 0 -1em 1px;
	}

	* html .ym-ie-clearing { margin:-2px 0 -1em 0; }
	.ym-cbox { margin-bottom:-2px; }

	/* avoid horizontal scrollbars in IE7 in borderless layouts because of negative margins */
	html { margin-right:1px; }
	* html { margin-right:0; }

	/* Bugfix:Essential for IE7 */
	.ym-col3 { position:relative; }

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* IE/Win Guillotine Bug
	* @see http://www.positioniseverything.net/explorer/guillotine.html
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6
	* @valid     yes
	*/

}

@media screen, projection {

	/**
	* IE-Adjustments for content columns and subtemplates
	*
	* Doubled Float-Margin Bug
	* @see http://positioniseverything.net/explorer/doubled-margin.html
	*
	* @bugfix
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     yes
	*/
	.ym-col1, .ym-col2 { display:inline; }

	/* Fix for:"Linking to anchors in elements within the containing block" Problem in IE5.x & IE 6.0 */
	.ym-grid { overflow:hidden; display:block; }
	* html .ym-grid { overflow:visible; }

	.ym-gl,
	.ym-gr { display: inline; }

	/* transform CSS tables back into floats */
	.ym-equalize .ym-gl {
		float:left; display:inline;
		padding-bottom:32767px;
		margin-bottom:-32767px;
	}

	.ym-equalize .ym-gr {
		float:right; margin-left:-5px; display:inline;
		padding-bottom:32767px;
		margin-bottom:-32767px;
	}

	.no-ie-padding .ym-gl,
	.no-ie-padding .ym-gr {
		padding-bottom:0;
		margin-bottom:0;
	}

	/*------------------------------------------------------------------------------------------------------*/

	/**
	* Internet Explorer and the Expanding Box Problem
	* @see http://www.positioniseverything.net/explorer/expandingboxbug.html
	*
	* @workaround
	* @affected  IE 5.x/Win, IE6
	* @css-for   IE 5.x/Win, IE6
	* @valid     yes
	*/

	* html .ym-cbox-left,
	* html .ym-cbox-right,
	* html .ym-cbox { word-wrap:break-word; }

	/* avoid growing widths */
	* html .ym-gbox,
	* html .ym-gbox-left,
	* html .ym-gbox-right { word-wrap:break-word; o\verflow:hidden; }
}

@media print {

	/**
	* Avoid unneeded page breaks of .ym-col3 content in print layout and containing floats.
	*
	* @bugfix
	* @affected  IE7
	* @css-for   IE 5.x/Win, IE6, IE7
	* @valid     yes
	*/

	.ym-gbox,
	.ym-gbox-left,
	.ym-gbox-right,
	.ym-col3 { height:1%; }
}