@media print {

	/* change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
	body {
		font-size: 10pt;
		padding: 0 5px;
	}

	/* Hide unneeded container of the screenlayout in print layout */
	nav,
	.ym-searchform {
		display:none;
	}


	/* Avoid page breaks right after headings */
	h1,h2,h3,h4,h5,h6 {
		page-break-after:avoid;
	}

}/* WARNING: do not remove this @media ending bracket */