/* sticky footer based on: http://ryanfait.com/sticky-footer/ */
@media screen {

	html,
	body,
	.ym-wrapper,
	.ym-wbox {
		height: 100%!important;
	}

	#header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	/*Fixed width specific*/
	body > .ym-wrapper > .ym-wbox{
		position: relative;
	}

	.ym-g960-body{
		padding: 0;
		margin: 0;
	}

	#main {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* give the #main a negative margin to allow the footer to slide in */
		margin: 0 auto -60px;
		z-index: 1;
	}

	#footer {
		z-index: -1;
		/* this height must be the same as the minus-margin on the #main */
		height: 60px;
		padding: 0;
		margin: 0;
	}

	.ym-g960-body .ym-gbox{
		/* make the margin the same height as the footer  */
		margin: 0 0 60px 0;
		padding: 0;
	}
}/* WARNING: do not remove this @media ending bracket */