
  /**
  * Warning: don't include @font-face rule in any @media rules
  * It won't work in IE8, FF
  *
  *
  * Example:
  @font-face {
	font-family: 'HeroRegular';
	src: url('fonts/hero-webfont.eot');
	src: url('fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/hero-webfont.woff') format('woff'),
		url('fonts/hero-webfont.ttf') format('truetype'),
		url('fonts/hero-webfont.svg#HeroRegular') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  *
  *
  */
  

@font-face {
    font-family: 'GreatVibesRegular';
    src: url('/fonts/greatVibes/GreatVibes-Regular-webfont.eot');
    src: url('/fonts/greatVibes/GreatVibes-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/greatVibes/GreatVibes-Regular-webfont.woff') format('woff'),
         url('/fonts/greatVibes/GreatVibes-Regular-webfont.ttf') format('truetype'),
         url('/fonts/greatVibes/GreatVibes-Regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WinterthurCondensedRegular';
    src: url('/fonts/winterthurCondensed/WinterthurCondensed-webfont.eot');
    src: url('/fonts/winterthurCondensed/WinterthurCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/winterthurCondensed/WinterthurCondensed-webfont.woff') format('woff'),
         url('/fonts/winterthurCondensed/WinterthurCondensed-webfont.ttf') format('truetype'),
         url('/fonts/winterthurCondensed/WinterthurCondensed-webfont.svg#WinterthurCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WinterthurCondensedItalic';
    src: url('/fonts/winterthurCondensed/WinterthurCondensedOblique-webfont.eot');
    src: url('/fonts/winterthurCondensed/WinterthurCondensedOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/winterthurCondensed/WinterthurCondensedOblique-webfont.woff') format('woff'),
         url('/fonts/winterthurCondensed/WinterthurCondensedOblique-webfont.ttf') format('truetype'),
         url('/fonts/winterthurCondensed/WinterthurCondensedOblique-webfont.svg#WinterthurCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media all {

	/**
	* @section global typography settings
	*
	* vertical rhythm settings (based on em-unit)
	* -------------------------------------------
	* basefont-size: 14px (87.5%)
	* line-height  : 21px (factor: 1.5)
	*/

	/*  reset font size for all elements to standard (16 Pixel) */
	html * { font-size:100%; }

	/**
	*  reset monospaced elements to font size 16px in all browsers
	*
	* @see: http://webkit.org/blog/67/strange-medium/
	*/

	textarea,
	pre,
	code,
	kbd,
	samp,
	var,
	tt {
		font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
	}

	/*  base layout gets standard font size 14px */
	body {
		font-family: Verdana, sans-serif;
		font-size:87.50%; /* base: 14px */
		color:#444;

		/*  Prevent auto-scaling of text in mobile webkit browsers */
		-webkit-text-size-adjust:100%;
	}

	/* reset depricated inline styling tags */
	center {
		margin: 0 !important;
		text-align: left !important;
	}
	basefont, font {
		font-family: inherit !important;
		font-size: 100% !important;
		font-style: inherit !important;
		color: inherit !important;
	}


	/*--- Headings ------------------------------------------------------------------------*/

	h1 {
		font: 380% 'GreatVibesRegular', Arial, sans-serif;
		color: #eddae0;
	}

	h2 {
		font: 190% 'WinterthurCondensedRegular', Arial, sans-serif;
		margin: 0 0 12px 0;
		padding: 0;
	}

	h3 {
		font: 175% 'WinterthurCondensedRegular', Arial, sans-serif;
		margin: 0 0 12px 0;
		padding: 0;
	}


	/* --- Lists  -------------------------------------------------------------------------------- */

	ul, ol, li, dt, dd {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style-type:disc;
	}

	ol {
		list-style-type:decimal;
	}

	ul ul {
		list-style-type:circle;
	}

	ol ol {
		list-style-type:lower-latin;
	}

	ol ul {
		list-style-type:circle;
	}

	dt { font-weight:bold; }


	/* --- general text formatting  ------------------------------------------ */

	p {
		font-size:1em;
		line-height:1.5em;
		margin: 0 0 1em 0;
	}

	blockquote, cite, q {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style:italic;
	}

	blockquote {
		margin:1.5em 0 0 1.5em;
		color:#666;
	}

	strong, b { font-weight:bold; }

	em, i { font-style:italic; }

	big {
		font-size:116.667%;
	}

	small {
		font-size:85.71%;
	}

	pre,
	code,
	kbd,
	tt,
	samp,
	var {
		font-size:100%;
	}

	pre {
		line-height:1.5em;
		margin: 1.5em 0 0 0;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	pre, code { color:#800; }

	kbd, samp, var, tt {
		color:#666;
		font-weight:bold;
	}

	var, dfn { font-style:italic; }

	acronym, abbr {
		border-bottom:1px #aaa dotted;
		font-variant:small-caps;
		letter-spacing:.07em;
		cursor:help;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup { top: -0.5em; }
	sub { bottom: -0.25em; }

	mark {
		background: #ff0;
		color: #000;
	}

	hr {
		color: #8b022a;
		background-color: #8b022a;
		height: 1px;
		border:0;
	}

	/*--- Links ----------------------------------------------------------------------------------------- */

	a {
		color:#8b022a;
		background:transparent;
		text-decoration:none;
	}

	a:active { outline: none; }

	/*  maximum constrast for tab focus - change with great care */
	a:hover,
	a:focus {
		text-decoration:underline;
		color: #8b022a
	}

	/* --- images ------------------ */

	img,
	figure {
		margin: 0;
	}

	.flexible {
		margin-top: 1.5em;
		max-width: 100%;
		height: auto;
	}

	* html .flexible {	/* IE6 support */
		width: 98%;		/* 2% space for borders */
	}

	.bordered {
		margin-top: 1.5em;
		border: 2px #eee solid;
	}

	/**
	* ----------------------------------------------------------------------- #
	*
	* Generic Content Classes
	*
	*  standard classes for positioning and highlighting
	*
	* @section content-generic-classes
	*/
	.highlight {
		color:#c30;
	}

	.dimmed {
		color:#888;
	}

	.box {
		border-width: 1px;
		border-style: solid;
		border-color: #888;
		color: #444;
		color: rgba(0,0,0,.8);
		padding: 1.4286em;
		margin: 1.5em 0 0 0;
	}

	.box > *:first-child {
		margin-top: 0;
	}

	.label {
		font-family: Verdana, Geneva, sans-serif;
		padding: 1px 6px 2px;
		display: inline-block;
		vertical-align:middle;
		letter-spacing: normal;
		white-space:nowrap;
		background: #06C;
		color: #fff;
		font-size: 10px;
		line-height: 12px;
	}

	.info {
		background:#f4f4f4;
	}

	.success {
		background:#8c8;
	}

	.warning {
		background:#cc8;
	}

	.float-left {
		float:left;
		display:inline;
		margin: 1.5em 1em 0 0;
	}

	.float-right {
		float:right;
		display:inline;
		margin: 1.5em 0 0 1em;
	}

	.center {
		display:block;
		text-align:center;
		margin: 1.5em auto 0 auto;
	}

	/**
	* ------------------------------------------------------------------------------------------------- #
	*
	* Tables | Tabellen
	*
	*  Generic classes for table-width and design definition
	*
	* @section content-tables
	*/

	table {
		width:100%;
		border-collapse:collapse;
		margin: 1.3571em 0 0 0;
		color:#333;
	}

	table.narrow {
		margin:  1.4286em 0 0 0;
	}

	table.narrow th,
	table.narrow td {
		padding: 0 0.5em;
		line-height: 1.4286em;
	}

	table.bordertable {
		border:1px #ccc solid;
	}

	table caption {
		font-variant:small-caps;
	}
	th, td {
		line-height: 1.5em;
		vertical-align: top;
		padding: 0.7143em 0.5em;
	}

	th *:first-child,
	td *:first-child {
		margin-top: 0;
	}

	th.nowrap,
	td.nowrap {
		white-space: nowrap;
	}

	tbody th,
	thead th {
		text-align: left;
		color:#000;
		font: 120% 'WinterthurCondensedRegular', Arial, sans-serif;
	}

	.bordertable thead th {
		background:#e0e0e0;
		border-right:1px #ccc solid;
		border-bottom:1px #ccc solid;
	}

	.bordertable tbody th[scope="row"] {
		background:#f0f0f0;
	}

	tbody th {
		border-top:1px solid #8b022a;
	}

	.bordertable tbody th {
		border-right:1px solid #8b022a;
	}

	tbody td {
		text-align: left;
		border-top:1px solid #8b022a;
		width: 123px;
	}

	.bordertable tbody td {
		border-right:1px solid #8b022a;
	}

	/* highlight row on mouse over */
	tbody tr:hover th,
	tbody tr:hover td {
		background:#f8f8f8;
	}
}/* WARNING: do not remove this @media ending bracket */