@media all {

	.ym-vlist {
		margin:0 0 1.5em 0;
		list-style-type:none;
		background: transparent;
		border: 0 none;
	}

	/* title */
	.ym-vtitle {
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:100%;
		width:90%;
		padding:3px 0px 3px 10%; /* LTR */
		margin:0;
		color:#444;
		background-color:#fff;
		border-top:2px #ddd solid;
	}

	.ym-vlist ul {
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
		overflow:hidden;
		border-top:2px #ddd solid;
		border-bottom:2px #ddd solid;
	}

	.ym-vtitle + ul {
		border-top:4px #888 solid;
	}

	.ym-vlist ul ul {
		border: 0 none;
	}

	.ym-vlist li {
		float:left; /* LTR */
		width:100%;
		margin:0;
		padding:0;
		background-color:#fff;
	}

	.ym-vlist a,
	.ym-vlist strong,
	.ym-vlist span {
		display:block;
		padding:3px 0px 3px 10%;
		text-decoration:none;
		border-bottom:1px #ddd solid;
	}

	.ym-vlist a,
	.ym-vlist a:visited {
		color:#444;
	}

	.ym-vlist li span {
		display:block;
		font-weight:bold;
		border-bottom:1px #ddd solid;
	}

	/* active list element */
	.ym-vlist li.active {
		color:#fff;
		background-color:#444;
	}

	.ym-vlist li.active a {
		font-weight:bold;
	}

	/* Level 1 */
	.ym-vlist li a,
	.ym-vlist li strong,
	.ym-vlist li span { width:90%; padding-left:10%; } /* LTR */

	.ym-vlist li a:focus,
	.ym-vlist li a:hover,
	.ym-vlist li a:active { background-color:#888; color:#fff; outline: 0 none; }

	/* Level 2 */
	.ym-vlist li ul li a,
	.ym-vlist li ul li strong,
	.ym-vlist li ul li span { width:80%; padding-left:20%; } /* LTR */

	.ym-vlist li ul li a,
	.ym-vlist li ul li a:visited { background-color:#f8f8f8; color:#333; }
	.ym-vlist li ul li a:focus,
	.ym-vlist li ul li a:hover,
	.ym-vlist li ul li a:active { background-color:#888; color:#fff; }

	/* Level 3 */
	.ym-vlist li ul li ul li a,
	.ym-vlist li ul li ul li strong,
	.ym-vlist li ul li ul li span { width:70%; padding-left:30%; } /* LTR */

	.ym-vlist li ul li ul li a,
	.ym-vlist li ul li ul li a:visited{ background-color:#f0f0f0; color:#222; }
	.ym-vlist li ul li ul li a:focus,
	.ym-vlist li ul li ul li a:hover,
	.ym-vlist li ul li ul li a:active { background-color:#888; color:#fff; }

	/* Level 4 */
	.ym-vlist li ul li ul li ul li a,
	.ym-vlist li ul li ul li ul li strong,
	.ym-vlist li ul li ul li ul li span { width:60%; padding-left:40%; } /* LTR */

	.ym-vlist li ul li ul li ul li a,
	.ym-vlist li ul li ul li ul li a:visited { background-color:#e8e8e8; color:#111; }
	.ym-vlist li ul li ul li ul li a:focus,
	.ym-vlist li ul li ul li ul li a:hover,
	.ym-vlist li ul li ul li ul li a:active { background-color:#888; color:#fff; }
}/* WARNING: do not remove this @media ending bracket */