{{- $page := . -}}
{{- if (isset . "page") -}}
    {{- $page = .page -}}
{{- end -}}

{{- $gallery := $page.Params.gallery -}}
{{- if (isset . "galleryName") -}}
    {{- $gallery = index $page.Params.gallery .galleryName -}}
{{- end -}}

<div class="pinterest-album">
    {{- range (slice "col1" "col2" "col3") -}}
        {{- $colName := . -}}

        <!--
            The next range and if statement should be doable by simply doing an (index $gallery $colName), 
            since $gallery is a map, but it throws an error. The nested range calls are a workaround
        -->
        {{- range $name, $value := $gallery -}}
            {{- if eq $colName $name -}}

                <ul>
                    {{ range $value -}}
                        {{- $resource := $page.Resources.Match (print "gallery/" .) -}}

                        <!-- Use loop to skip if the resource is not found) -->
                        {{- range $resource }}
                            {{- $image := .Resize "232x" }}
                            <li><a href="{{ .RelPermalink }}" rel="{{ md5 $page.RelPermalink }}"><img src="{{ $image.RelPermalink }}" width="232" height="{{ $image.Height }}" alt="{{ $image.Title }}"></a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>

            {{- end -}}
        {{- end -}}
        
    {{- end -}}
</div>