<ul id="{{ .menuClass }}">
    {{- $currentPage := .page -}}
    {{- range .page.Site.Menus.main }}
        <li class="{{ .Page.Params.menuImage }} {{- if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}">
            {{- $firstChild := index .Children.ByWeight 0 }}
            {{- $link := .URL -}}
            {{- if $firstChild -}}
                {{- $link = $firstChild.URL -}}
            {{- end -}}
            <a href="{{ $link }}" style="background-image: url(/css/img/{{ .Page.Params.menuImage }}.jpg)">{{ .Title }}</a>
        </li>
    {{- end -}}
</ul>