{{- $currentPage := . -}}
{{- range .Site.Menus.main -}}
    {{- if $currentPage.HasMenuCurrent "main" . -}}
        {{- if .Children -}}
            <div id="sub-menu" class="piped-list">
                <ul>
                    {{- range .Children }}
                        <li {{- if $currentPage.IsMenuCurrent "main" . }} class="active"{{ end }}>
                            <a href='{{ .URL }}'>{{ .Title }}</a>
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}