{{ define "main" }}
    {{ partial "main-menu.html" (dict "page" . "menuClass" "tab-menu") }}

    <div id="tab-content">
        <div id="sub-menu-content">
            <h2>Pagina niet gevonden</h2>
            <p>De pagnia die u probeert te bezoeken kan helaas niet worden gevonden. U kunt naar de <a href="/">de homepage</a> gaan, of klik op een van de andere linkjes in het menu hierboven.</p>
        </div>
    </div>
{{ end }}